

 <footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        <div class="my-3">
          <div class="h4">Mateo Roca</div>
          <div class="footer-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="https://ar.linkedin.com/in/mateo-roca-44758b214?original_referer=https%3A%2F%2Fwww.google.com.ar%2F" title="linkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">linkedin</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://web.facebook.com/mateo.roca.7" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/mateoroca/" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/mateoroca" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>