

<div class="container my-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-4">Notes app node.js and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing el</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde impedit provident ut nemo dolores, obcaecati voluptatibus velit id libero, in vitae consequa</p>
    <a href="https://mateoroca.github.io/mateo.github.io/" class="btn btn-primary btn-lg">my web page</a>
  </div>
</div>

