<div class="card mt-4">
  <div class="card-body">
    <h1>About </h1>
    <p>The application has a registration form where you can create your
      account, once this is done you can start creating your notes, editing and
      deleting them. Then you can log out.</p>
  </div>
</div>