

<div class="container my-2">
  <div class="p-3 mb-4 rounded-3">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">This web application was created by Mateo Roca with the intention of learning new languages, frameworks and non-relational database storage.</p>
    <hr class="my-4">
    <p>Created with Node.js and Mongodb Atlas</p>
  </div>
</div>

